<footer style="padding-bottom: 40px;">
  <div class="container">
    <div class="col-lg-12">
      <p>Copyright © 2025 雙生紫焰直播回放平台. All rights reserved.
        <br>雙生紫焰官網團隊
      </p>
      <div class="d-flex gap-2 justify-content-center mt-2">
        <a href="https://www.youtube.com/@VioletTwinFlames" target="_blank" rel="noopener" title="YouTube 頻道"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/youtube.svg" alt="YouTube" width="24" height="24"></a>
        <a href="https://facebook.com/雙生紫焰-1248449988663790/?tn-str=k*F" target="_blank" rel="noopener" title="Facebook 官網"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook" width="24" height="24"></a>
        <a href="https://instagram.com/violetflames1111" target="_blank" rel="noopener" title="Instagram"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" alt="Instagram" width="24" height="24"></a>
      </div>
    </div>
  </div>
</footer>
