<!doctype html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>忘記密碼</title>
  <link rel="shortcut icon" type="image/png" href="/static/assets/images/logos/seodashlogo.png" />
  <link rel="stylesheet" href="/static/assets/css/styles.min.css" />
</head>
<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-center py-3 w-100">
                  <img src="/static/imgs/vf_logo.png" alt="" style="height:32px;width:auto;" class="me-2" />
                  <span class="fw-bold fs-5 d-inline-block">直播回放後台</span>
                </div>
                <p class="text-center">雙生紫焰</p>
                <form method="post">
                  <div class="mb-4">
                    <label for="email" class="form-label">請輸入您的 Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                  <!-- hCaptcha widget -->
                  <div class="mb-4">
                    <div class="h-captcha" data-sitekey="1e869570-8ab8-4958-a68c-86e01a583f36"></div>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4">寄送重設密碼信</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="text-primary fw-bold ms-2" href="/login">返回登入</a>
                  </div>
                </form>
                <!-- hCaptcha script -->
                <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>
