<!-- filepath: /Volumes/My Passport for Mac/my-project/vf/vf-life/templates/header.html -->
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Pre-Header Area Start ***** -->
<div class="pre-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-9">
      </div>
      <div class="col-lg-4 col-sm-3">
        <div class="social-icons">
          <ul>
            <li><a href="https://www.youtube.com/@VioletTwinFlames" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a></li>  
            <li><a href="https://facebook.com/雙生紫焰-1248449988663790/?tn-str=k*F" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://instagram.com/violetflames1111" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Pre-Header Area End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo d-flex align-items-center">
            <img src="static/imgs/vf_logo.png" alt="" style="max-width: 60px;">
            <h1 class="ms-2 fw-bold" style="font-size:1.3rem;letter-spacing:0.1em;color: white;">雙生紫焰</h1>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a href="/">首頁</a></li>
            {% if session.get('logged_in') %}
              <li><a href="/member_videos">直播回放後台</a></li>
              <li><a href="/logout">登出</a></li>
            {% else %}
              <li><a href="/login">登入</a></li>
            {% endif %}
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
