<!-- filepath: /Volumes/My Passport for Mac/my-project/vf/vf-life/templates/header.html -->
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Pre-Header Area Start ***** -->
<div class="pre-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-9">
      </div>
      <div class="col-lg-4 col-sm-3">
        <div class="social-icons">
          <ul>
            <li><a href="https://www.youtube.com/@vf.twinsflame" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a></li>  
            <li><a href="https://www.facebook.com/vftwinsflame" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/vf.twinsflame/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Pre-Header Area End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">
            <img src="static/imgs/vf_logo.png" alt="" style="max-width: 60px;">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a href="#top" class="active">首頁</a></li>
            <li><a href="/login">登入</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
