<!doctype html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>重設密碼</title>
  {% include 'login_head.html' %}
</head>
<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-4">
            <div class="card mb-0">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-center py-3 w-100">
                  <img src="/static/imgs/vf_logo.png" alt="" style="height:32px;width:auto;" class="me-2" />
                  <span class="fw-bold fs-5 d-inline-block">直播回放後台</span>
                </div>
                <p class="text-center">雙生紫焰</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }}" role="alert">
                  {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form method="post">
                  <div class="mb-3">
                    <label for="newPassword" class="form-label">新密碼</label>
                    <input type="password" class="form-control" id="newPassword" name="new_password" required>
                  </div>
                  <div class="mb-4">
                    <label for="confirmPassword" class="form-label">確認新密碼</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4" onclick="this.disabled=true; this.form.submit();">重設密碼</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="text-primary fw-bold ms-2" href="/login">返回登入</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>
</html>
